Spamassassin gets confused by Chasquid's Received: header format

I'm pretty sure Chasquid's format is RFC-correct, so this is really more a of a feature request/interoperability workaround than a bug.

Chasquid reports:
`Received: from [IP_ADDR] (EHLO_NAME)`
which confuses Spamassassin into thinking that there is no RDNS for IP_ADDR, which triggers RDNS_NONE.

Postfix reports:
`Received: from EHLO_NAME (RDNS_NAME [IP_ADDR])`
using "uknown" as RDNS_NAME if the lookup fails. Spamassassin has no issues with this format.

Thanks for reporting this!

First, let me check if it's actually RFC-correct, in case there is a bug there. The reference for the `Received` header is [RFC 5321 section 4.4](https://datatracker.ietf.org/doc/html/rfc5321#section-4.4).

The main parts for the "from <...>" part are:

```
From-domain    = "FROM" FWS Extended-Domain
Extended-Domain  = Domain /
                    ( Domain FWS "(" TCP-info ")" ) /
                    ( address-literal FWS "(" TCP-info ")" )
TCP-info       = address-literal / ( Domain FWS address-literal )
                  ; Information derived by server from TCP connection
                  ; not client EHLO.
address-literal  = "[" ( IPv4-address-literal /
                    IPv6-address-literal /
                    General-address-literal ) "]"
                    ; See [Section 4.1.3](https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.3)
```

So chasquid's `from <address-literal> (<Domain>)` may not be that compliant: the `address-literal` part is fine, but the `Domain` should be followed by an `address-literal`.

This is something worth fixing!  I will have a patch for this shortly.

That said:

>  which confuses Spamassassin into thinking that there is no RDNS for IP_ADDR, which triggers RDNS_NONE.

chasquid does not do reverse DNS lookups, think spamassassin is deducing the correct information from the header anyway.

Great, thanks for confirming!

I'll leave this open until the commit is merged in the `main` branch, which I will usually do in a few days.